<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head(title = 'Forum.PO - aktywacja użytkownika')}">
</head>
<body>

<nav th:replace="~{layouts/main_layout :: nav}"></nav>
<div th:replace="~{layouts/main_layout :: jumbotron}"></div>

<div class="container">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 alert alert-success" role="alert" >
            Twoje konto zostało utworzone, <a href="#" th:href="@{/login}"></a>.
        </div>
        <div class="col-md-3"></div>
    </div>

</div>

<footer th:replace="~{layouts/main_layout :: footer}"></footer>
</body>
</html>