<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head(title = 'Forum.PO - Rejestracja')}">
</head>
<body>

<div th:replace="~{layouts/main_layout :: mainLogo}"></div>
<nav th:replace="~{layouts/main_layout :: nav}"></nav>
<div th:replace="~{layouts/main_layout :: jumbotron}"></div>

<div class="row" th:if="${success}">
    <div class="col-md-3"></div>
    <div class="col-md-6 alert alert-success" role="alert" >
        Twoja rejestracja przebiegła pomyślnie. Sprawdz swoją pocztę i aktywuj konto!
    </div>
    <div class="col-md-3"></div>
</div>

<!-- User Registration form -->
<form class="form-horizontal" role="form" method="POST" th:action="@{/register}" th:object="${user}" th:if="!${success}">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>Rejestracja</h2>
            <hr>
        </div>
    </div>
    <div class="row" th:if="${validationErrors}">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <span class="text-danger align-middle">
                <ul th:each="error : ${validationErrors}">
                    <li th:text="${error.getDefaultMessage()}"></li>
                </ul>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label for="first-name">Imie</label>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                    <input type="text"
                           name="first-name"
                           class="form-control"
                           id="first-name"
                           placeholder="imie"
                           th:field="*{firstName}"
                           required autofocus>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label for="last-name">Nazwisko</label>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                    <input type="text"
                           name="last-name"
                           class="form-control"
                           id="last-name"
                           placeholder="nazwisko"
                           th:field="*{lastName}"
                           required autofocus>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label for="branch">Wydział</label>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-home"></i></div>
                    <select th:field="*{branch}" name="branch" class="form-control" id="branch" required autofocus>
                        <option value="WEAiI">Elektrotechniki Automatyki i Informatyki</option>
                        <option value="WBiA">Budownictwa i Architektury</option>
                        <option value="WEiZ">Ekonomii i Zarzadzania</option>
                        <option value="WIPiL">Inzynierii Produkcji i Logistyki</option>
                        <option value="WIST">Inzynierii Systemow Technicznych</option>
                        <option value="WM">Mechaniczny</option>
                        <option value="WWFiF">Wychowania Fizycznego i Fizjoterapii</option> 
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label for="email">Adres email</label>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                    <input type="text"
                           name="email"
                           class="form-control"
                           id="email"
                           placeholder="s000000@student.po.edu.pl"
                           th:field="*{email}"
                           required autofocus>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label for="password">Hasło</label>
        </div>
        <div class="col-md-6">
            <div class="form-group has-danger">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-key"></i></div>
                    <input type="password"
                           name="password"
                           class="form-control"
                           id="password"
                           placeholder="hasło"
                           th:field="*{password}"
                           required>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label for="password">Potwierdź hasło</label>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem">
                        <i class="fas fa-key"></i>
                    </div>
                    <input type="password"
                           name="confirmPassword"
                           class="form-control"
                           id="confirmPassword"
                           placeholder="potwierdź hasło"
                           th:field="*{confirmPassword}"
                           required>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Zarejestruj</button>
        </div>
    </div>
</form>

<footer th:replace="~{layouts/main_layout :: footer}"></footer>
</body>
</html>