<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title th:text="${title}">Forum.PO - forum studentów Politechniki Opolskiej</title>
    <link rel="stylesheet" th:href="@{/libs/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" th:href="@{/css/forumpo.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Roboto">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>

<body>
    <!-- PO header logo -->
    <div class="mainLogo" th:fragment="mainLogo">
        <a href="https://www.po.opole.pl/" target="_blank"><img th:src="@{/images/logo_po_pl.png}"></a>
    </div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" th:fragment="navigation">
        <div class="container">
            <a class="navbar-brand nav-item active" href="/">
                <i class="fas fa-home" aria-hidden="true"></i> FORUM.PO
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" th:href="@{/user/list}">
                        <i class="fa fa-user" aria-hidden="true"></i> Lista użytkowników</a>
                    </li>
                    <li class="nav-item active" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/topic/submit}">
                            <i class="fa fa-link" aria-hidden="true"></i> Dodaj post</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link active" th:href="@{/profile}">
                            <i class="fa fa-user" aria-hidden="true"></i> Moje konto</a>
                    </li>
                    <li class="nav-item">
                        <form method="POST" th:action="@{/logout}" sec:authorize="isAuthenticated()">
                            <button class="nav-link .btn-danger"><i class="fa fa-sign-out-alt" aria-hidden="true"></i>
                                Wyloguj</button>
                        </form>
                    </li>

                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a th:href="@{/login}">
                            <button class="nav-link">
                            <i class="fa fa-sign-in-alt" aria-hidden="true"></i> Zaloguj
                            </button>
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a th:href="@{/register}">
                            <button class="nav-link">
                            <i class="fa fa-user-plus" aria-hidden="true"></i> Rejestracja
                        </button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid" th:fragment="jumbotron">
        <div class="container" align="center">
            <h3 class="display-4">Zobacz co nowego dzieje się na Twoim wydziale.</h3>
            <div class="row col-md-12 align-self-center">
                <figure><a href="https://wbia.po.opole.pl" target="_blank"><img th:src="@{/images/wb.png}"
                            height="100px" width="100px" class="img-thumbnail"
                            alt="Wydział Budownictwa i Architektury"></a></figure>
                <figure><a href="https://weiz.po.opole.pl" target="_blank"><img th:src="@{/images/weaii.png}"
                            height="100px" width="100px" class="img-thumbnail" alt="Wydział Ekonomii i Zarządzania"></a>
                </figure>
                <figure><a href="https://we.po.opole.pl" target="_blank"><img th:src="@{/images/weiz.png}"
                            height="100px" width="100px" class="img-thumbnail"
                            alt="Wydział Elektrotechniki, Automatyki i Informatyki"></a></figure>
                <figure><a href="https://wipil.po.opole.pl" target="_blank"><img th:src="@{/images/wipil.png}"
                            height="100px" width="100px" class="img-thumbnail"
                            alt="Wydział Inżynierii Produkcji i Logistyki"></a></figure>
                <figure><a href="https://wist.po.opole.pl" target="_blank"><img th:src="@{/images/wist.png}"
                            height="100px" width="100px" class="img-thumbnail"
                            alt="Wydział Inżynierii Systemów Technicznych"></a></figure>
                <figure><a href="https://wm.po.opole.pl/index.php/pl/" target="_blank"><img th:src="@{/images/wm.png}"
                            height="100px" width="100px" class="img-thumbnail" alt="Wydział Mechaniczny"></a></figure>
                <figure><a href="https://wwfif.po.opole.pl" target="_blank"><img th:src="@{/images/wwfif.png}"
                            height="100px" width="100px" class="img-thumbnail"
                            alt="Wydział Wychowania Fizycznego i Fizjoterapii"></a></figure>
            </div>
        </div>
    </div>

    <div class="container" th:fragment="content">
        <p>This is your main content</p>
    </div>
    <!-- Footer -->
    <footer id="footer" th:fragment="footer">
        Copyright &copy; - PO dojcze
        <a href="mailto:it.pnackiewicz@gmail.com">
            <p>Kontakt z administratorem
        </a>
    </footer>
</body>

</html>