<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layouts/main_layout :: head(title = 'Forum PO - forum studentów Politechniki Oposlkiej')}">
</head>
<body>

<div th:replace="~{layouts/main_layout :: mainLogo}"></div>
<nav th:replace="~{layouts/main_layout :: nav}"></nav>
<div th:replace="~{layouts/main_layout :: jumbotron}"></div>

<div class="container">

    <div class="row" th:if="${successDeleteTopic}">
        <div class="col-md-3"></div>
        <div class="col-md-6 alert alert-success" role="alert" >
            Temat został usunięty pomyślnie
        </div>
        <div class="col-md-3"></div>
    </div>

    <!-- topics -->
    <div class="row topic" th:each="topic : ${topics}">
        <div class="col-1">
            <div><a href="#" class="upvote" th:data-id="${topic.id}"><i class="fas fa-arrow-up"></i></a></div>
            <div><span th:id="|votecount-${topic.id}|" class="votecount" th:text="${topic.getVoteCount()}">0</span></div>
            <div><a href="#" class="downvote" th:data-id="${topic.id}" th:disabled="true"><i class="fas fa-arrow-down"></i></a></div>
        </div>
        <div class="col-7">
            <p class="title">
                <a class="title " th:href="@{'/topic/' + ${topic.id}}" th:text="${topic.title}">
                    Title Goes Here
                </a>
                <!--<span class="domain">(<a th:href="${topic.url}" th:text="${topic.getDomainName()}" target="_blank">therealdanvega.com</a>)</span>-->
            </p>
            <p class="tagline ">dodany
                <a id="timer"><time th:title="${topic.getCreationDate()}" th:datetime="${topic.getCreationDate()}" class="live-timestamp" th:text="${topic.getPrettyTime()}">1 godzin</time></a> przez
                <a th:href="@{'/u/' + ${topic.getCreatedBy()}}" class="author" th:text="${topic.getCreatedBy()}">therealdanvega</a>
            </p>
            <p>
                <a th:href="@{'/topic/' + ${topic.id} + '#komentarze'}" class="comments" th:text="|${topic.getComments().size()} komentarze|"><i class="fas fa-comments"></i> 0 komentarzy</a>
                <a href="/" class="share"><i class="fas fa-share-square"></i> udostępnij</a>
            </p>
        </div>
        <div class="col-2" sec:authorize="hasRole('ADMIN')">
            <form action="#" th:action="@{'/topic/drop/{id}'(id=${topic.getId()})}" th:method="delete" >
                <input type="hidden" name="_method" value="delete" />
                <button type="submit" class="btn btn-danger">Usuń temat</button>
            </form>
        </div>
        <div class="col-2" sec:authorize="hasRole('ADMIN')">
            <a class="btn btn-warning" th:href="@{'/topic/edit/' + ${topic.id}}">Edycja</a>
        </div>
    </div>

</div>

<footer th:replace="~{layouts/main_layout :: footer}"></footer>

<script sec:authorize="isFullyAuthenticated()">
    const allvotes = document.querySelectorAll(".upvote, .downvote");

    for(let i=0; i<allvotes.length; i++) {
        let className = allvotes[i].className;
        allvotes[i].addEventListener('click',function (event) {
            const direction = className === 'upvote' ? 1 : -1;
            const topicID = this.getAttribute("data-id");
            const voteSum = document.getElementById('votecount-' + topicID);
            const voteSumValue = voteSum.innerHTML;
            fetch(`http://localhost:8080/vote/topic/${topicID}/direction/${direction}/votecount/${voteSumValue}`)
                .then(response => response.json())
        .then(data => voteSum.innerHTML = data)
        .catch(err => console.error(err))
        });
    }

</script>
</body>
</html>