<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{layouts/main_layout :: head(title = 'Forum PO - forum studentów Politechniki Oposlkiej')}">
</head>

<body>


    <div th:replace="~{layouts/main_layout :: mainLogo}"></div>
    <nav th:replace="~{layouts/main_layout :: nav}"></nav>
    <div th:replace="~{layouts/main_layout :: jumbotron}"></div>

    <div class="container">

        <div class="alert alert-success" role="alert" th:if="${success}">
            Your new topic was created!
        </div>

        <!-- topic -->
        <div class="row topic">
            <div class="col-1">
                <div><a href="#" class="upvote"><i class="fas fa-arrow-up"></i></a></div>
                <div><span class="votecount">3</span></div>
                <div><a href="#" class="downvote"><i class="fas fa-arrow-down"></i></a></div>
            </div>
            <div class="col-11">
                <p class="title">
                    <a class="title " th:href="${topic.description}" th:text="${topic.title}" target="_blank">
                        What's new in Spring Boot 2?
                    </a>
                    <span class="domain">(<a th:href="${topic.description}">therealdanvega.com</a>)</span>
                </p>
                <p class="tagline ">submitted
                    <time th:title="${topic.getCreationDate()}" th:datetime="${topic.getCreationDate()}"
                        class="live-timestamp" th:text="${topic.getPrettyTime()}">1 hour(s)</time> by
                    <a th:href="@{'/u/' + ${topic.getCreatedBy()}}" class="author"
                        th:text="${topic.getCreatedBy()}">therealdanvega</a>
                    <span class="userattrs"></span>
                </p>
                <p><a th:text="${topic.description}" target="_blank"></a></p>
                <p>
                    <a href="/" class="comments" th:text="|${topic.getComments().size()} comments|"><i
                            class="fas fa-comments"></i> 0 comments</a>
                    <a href="#" class="share"><i class="fas fa-share-square"></i> share</a>
                </p>
            </div>
        </div>

        <!-- topic comments -->
        <div id="comments" class="comments">
            <div class="row header">
                <div class="col-1">&nbsp;</div>
                <div class="col-11 title" th:text="|all ${topic.getComments().size()} comments|">
                    all 21 comments
                </div>
            </div>
            <div class="row addcomment" sec:authorize="hasRole('ROLE_USER')">
                <div class="col-1">&nbsp;</div>
                <div class="col-11">
                    <form id="frmAddComment" method="POST" th:action="@{/topic/comments}" th:object="${comment}">
                        <input type="hidden" th:field="*{topic}" />
                        <div class="form-group">
                            <textarea class="form-control" id="comment" rows="3" th:field="*{body}"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Comment</button>
                    </form>
                </div>
            </div>
            <!-- single comment -->
            <div class="row comment" th:each="comment : ${topic.getComments()}">
                <div class="col-1">&nbsp;</div>
                <div class="col-11">
                    <span><a href="#" th:text="${comment.getCreatedBy()}"><i class="far fa-user"></i>
                            therealdanvega</a></span>
                    <span th:text="${comment.getPrettyTime()}"><i class="far fa-clock"></i> 4 hours ago</span>
                    <p class="body" th:text="${comment.getBody()}">It’s one thing I never care about, new releases of
                        maven. Yet I do for most other things.. I really should take a look at any features released in
                        the last while! Pull my dependencies, run my tests and upload to nexus. I don’t care for much
                        else, I wonder what if any I’m missing.</p>
                    <a href="#" class="like"><i class="far fa-thumbs-up"></i> Like</a>
                </div>
            </div>

        </div>

    </div>

    <br /><br />
    <footer th:replace="~{layouts/main_layout :: footer}"></footer>
</body>

</html>