<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{layouts/main_layout :: head(title = 'Forum PO - forum studentów Politechniki Oposlkiej')}">
</head>

<body>

    <div th:replace="~{layouts/main_layout :: mainLogo}"></div>
    <nav th:replace="~{layouts/main_layout :: nav}"></nav>
    <div th:replace="~{layouts/main_layout :: jumbotron}"></div>

    <div class="row" th:if="${success}">
        <div class="col-md-3"></div>
        <div class="col-md-6 alert alert-success" role="alert" >
            Uzytkownik został usunięty pomyślnie
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="container">
        <!-- topics -->
        <div class="row topic" th:each="user : ${users}">
            <div class="col-4">
                <p>
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                    <a class="title " th:href="@{'/user/' + ${user.id}}" th:text="${user.email}"></a>
                </p>
            </div>
            <div class="col-4">
                <p>
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                    <a class="title " th:href="@{'/user/' + ${user.id}}" th:text="${user.fullName}"></a>
                </p>
            </div>
            <div class="col-2">
            <form action="#" th:action="@{'/user/drop/{id}'(id=${user.getId()})}" th:method="delete" >
                <input type="hidden" name="_method" value="delete" />
                <button type="submit" class="btn btn-danger">Usuń użytkownika</button>
            </form>
            </div>
            <div class="col-2">
                <a class="btn btn-warning" th:href="@{'/user/edit/' + ${user.id}}">Edycja</a>
            </div>
        </div>
        </div>
    </div>

    <footer th:replace="~{layouts/main_layout :: footer}"></footer>
</body>

</html>