#footer{
    margin-top: 40px;
    border-top: 1px solid #01579b;
    text-align: center;
    text-decoration: none;
    color: black;
}
#footer a{
    color: black;
}
#footer a:hover{
    text-decoration: none;
    color: gray;
}