<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Your Message Subject or Title</title>
</head>
<body>
<h1>Aktywacja konta FORUM.PO</h1>
    <p th:text="|Cześć ${user.getFirstName()}|">Cześć studencie!</p>
    <p>Dzięki, że zarejestrowałeś się w serwisie studenckim FORUM.PO! Aby w pełni korzystać z konta, musisz aktywować swoje konto. Kliknij w link poniżej i zacznij przygodę z FORUM.PO!</p>
    <a th:href="${baseURL} + '/activate/' + ${user.getEmail()} + '/' + ${user.getActivationCode()}">Link aktywacyjny</a>
</body>
</html>