<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Your Message Subject or Title</title>
</head>
<body>
    <h1>FORUM.PO wita nowego studenta!</h1>
    <p th:text="|Hej ${user.getFullName()}|">Hej studencie!</p>
    <p>Witamy wśród społeczności FORUM.PO!</p>
</body>
</html>